@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body {
    background-color: #181818;
}

h1 {
    color: white;
    font-family: 'Black Ops One', cursive;
    font-size: 3.5em;
    text-align: center;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
}

.boards-wrapper {
    display: flex;
    justify-content: space-around;
}

.cell {
    background-color: lightblue;
    border: 1px solid blue;
}

.cell.has-ship {
    background-color: lightcoral;
}